name: NuGetForUnity Restore

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: .

jobs:
  restore:
    runs-on: windows-latest
    steps:
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - run: dotnet tool install --global NuGetForUnity.Cli

      - run: nugetforunity restore
        working-directory: ${{ inputs.working-directory }}
